<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TITLE</title>
    </head>

    <body>
        <a href="{% url 'store:list_category' %}">My Store</a>  
        <br>Categories:</br>  

        <br>{% if category_key %}
            {% for category in category_key %}
                <li>{{ category.name }}</li>
            {% endfor %}
        {% endif %}</br>  

        <br>Products:</br>  

        {% block content %}
        
        {% endblock content %}
        
    </body>
</html>     